<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>create account</h1>
    <form action="/create_account" method="post"> 
        <label for="username">username:</label>
        <input type="text" id="username" name="username"><br><br>
        <label for="pass">password:</label>
        <input type="password" id="pass" name="pass"><br><br>
        <button type="submit" class="btn">Submit</button>
        <a href="/login">login</a><br>
        <a href="/" class="btn">Home</a>
    </form>
</body>
</html>